.cta14-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.cta14-max-width {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.cta14-column {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-direction: column;
}
 
.cta14-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.cta14-actions {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
.cta14-fragment1 {
  display: contents;
}
 
.cta14-text5 {
  display: inline-block;
}
 
.cta14-fragment2 {
  display: contents;
}
 
.cta14-text6 {
  display: inline-block;
}
 
.cta14-fragment3 {
  display: contents;
}
 
.cta14-text7 {
  display: inline-block;
}
 
.cta14-fragment4 {
  display: contents;
}
 
.cta14-text8 {
  display: inline-block;
}
